/* Reset Select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 2px solid;
    border-color: rgb(121, 121, 121);
    background: #222;
    font-size: 24px;
    text-align: center;
    background-image: none;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: flex;
    width: 28em;
    height: 5em;
    line-height: 5;
    background: rgb(121, 121, 121);
    border-radius: .25em;
  }
  select {
    flex: 1;
    padding: 0 1em;
    color: #ccc;
    cursor: url('/bahagia/src/etc/drop-down-arrow.png');
  }
    /* Arrow */
    .select::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        width: 5em;
        padding: 0 1em;
        background: rgb(121, 121, 121);
        cursor: url('/bahagia/src/etc/drop-down-arrow.png');
        pointer-events: none;
        -webkit-transition: .25s all ease;
        -o-transition: .25s all ease;
        transition: .25s all ease;
    }
    
  /* Transition */
  .select:hover::after {
    color: #222;
  }