 *, *:before, *:after {
	 box-sizing: inherit;
}

 html, body {
	 padding: 0;
	 margin: 0;
}

 hr {
	 border: 1px solid;
 }

 .hidden {
	 display: none;
 }

 .banner-content {
	background: #000;
	width: 100%;
	height: 30%;
	position: absolute;
	bottom: 0px;
 }

 .banner-text {
	margin-left:4px;
	color: #FFFFFF;
	font-size: 150%;
 }

 .theater-player {
	background: #000;
	width: 100%;
	height: 60%;
	margin: 0;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
 }

 html {
	 font-size: 14px;
	 height: 100%;
	 box-sizing: border-box;
}

 body {
	 font-family: 'Cutive', serif;
	 font-size: 1rem;
	 line-height: 1.4;
	 color: #222222;
	 background-color: #ededed;
	 transition: background-color 150ms ease-out, color 150ms ease-out;
}

 .dark {
	 color: #ededed;
	 background-color: #222222;
}

 .hisFav {
	color: #222222;
	background-color: #a5a5a5;
}

 .herFav {
	color: #222222;
	background-color: #aa6d6d;
}

 a {
	 color: inherit;
	 text-decoration: none;
	 border-bottom: 1px solid;
}

 p {
	 opacity: 0.6;
	 margin: 0 0 0.6rem 0;
	 transition: opacity 300ms ease-out;
}

 p:hover {
	 opacity: 1;
}

 .scene {
     max-width: 100%;
 	 left: 0;
	 right: 0;
	 margin: auto;
}

 .actor {
	 font-size: 2.8rem;
	 display: flex;
	 margin-bottom: 2rem;
}

 .actor:last-of-type {
	 margin-bottom: 6rem;
}

 .actor__content {
	 flex-grow: 1;
}

 @keyframes blink {
	 from {
		 opacity: 0;
	}
	 to {
		 opacity: 1;
	}
}

 .actor__content--typing::after {
	 content: '|';
	 animation: blink 500ms infinite;
}
 
